doctype html
html
	head
		- var page_name = "Temp"
		include ./includes/head.jade

	body
		include ./includes/header.jade

		main(ng-app="moviesApp")
			section.section-search(ng-controller="mainController")
				.container
					.row
					hr
					h2.text-center Movie search
					.form-inline.text-center
						.search
							input( type="text", ng-model="input").form-control
							button(ng-click="searchFunc(input); show='true'").btn.btn-success submit
						hr
					//- desired 
					.movie.clearfix.movie--desired(ng-repeat="item in desired")
						.movie__media-wrap.pull-left
							img(src="http://img.omdbapi.com/?i=tt2294629&apikey=402c455d")
						.movie__info.pull-left
							.movie__label Desired
							h3 Name: {{item.Title}}
							h5 Type {{item.Type}}
							h5 Year: {{item.Year}}
					//- search result
					.movie.clearfix(ng-show="show", ng-repeat="movie in movies")
						.movie__media-wrap.pull-left
							img(ng-src="http://img.omdbapi.com/?i={{movie.imdbID}}&apikey={{apiKey}}")
						.movie__info.pull-left
							h3 Name: {{movie.Title}}
							h5 Type {{movie.Type}}
							h5 Year: {{movie.Year}}
							.btn.btn-info(ng-click="addToDesired(movie)") add to desired
					ul.pagination
						li.pagination__item(ng-repeat="page in pages")
							button(ng-click="changePage(page.num)").pagination__number {{page.num}}


		include ./includes/footer.jade